$background-ocean: "https://static1.squarespace.com/static/5f2166939e20601ce4079167/t/5f3b82fb2fce70474b8865a7/1597735679852/Ocean_Background.jpg";
$color-white: #fff;
$color-black: #000;
$color-dark-blue: #1a2c7b;
$color-cream: #ffffe6;
