.map {
	width: 100%;
	display: flex;
	margin: 0 auto;

	@include respond(tablet-portrait) {
		flex-direction: column;
	}

	&__island {
		position: relative;
		flex: 1.5;
		background-image: url($background-ocean);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 30px;
	}

	&__persons {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		& > * {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;

			img {
				z-index: 100;
				font-family: 'Poppins', sans-serif;

				position: absolute;
				height: 12%;
				cursor: pointer;
			}

			img:hover {
				animation-name: bounce;
				animation-duration: 2s;
				animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
				transform-origin: bottom;
			}

			img:hover + .speech-bubble {
				visibility: visible;
				opacity: 1;
			}
		}

		&--lonesville {
			img {
				left: 4%;
				top: 12%;
			}

			&__description {
				left: 24%;
				top: 10%;
			}
		}

		&--merrytown {
			img {
				right: 6%;
				top: 22%;
			}

			&__description {
				right: 5%;
				top: 38%;

				@include respond(phone) {
					right: 0;
					top: 35%;
				}
			}
		}

		&--worryshire {
			img {
				right: 40%;
				top: 45%;

				@include respond(phone) {
					right: 45%;
					top: 40%;
				}
			}

			&__description {
				right: 31%;
				top: 33%;

				@include respond(phone) {
					right: 28%;
					top: 25%;
				}
			}
		}

		&--rageport {
			img {
				left: 15%;
				bottom: 20%;
			}

			&__description {
				left: 5%;
				bottom: 35%;

				@include respond(phone) {
					left: 0;
					bottom: 35%;
				}
			}
		}

		&--distantinopole {
			img {
				right: 15%;
				bottom: 20%;
			}

			&__description {
				right: 10%;
				bottom: 5%;

				@include respond(phone) {
					right: 0;
					bottom: 0;
				}
			}
		}
	}

	&__welcome {
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		padding: 0 15px;

		font-family: 'Poppins', sans-serif;
		color: $color-dark-blue;

		@include respond(tablet-portrait) {
			padding: 30px 15px;
		}

		&__heading {
			font-size: 48px;
			text-align: center;
			font-weight: 700;

			@include respond(phone) {
				text-align: left;
				max-width: none;
				font-size: 42px;
				margin-bottom: 15px;
				margin-top: 0;
				line-height: 1.2;
			}
		}

		&__text {
			max-width: 550px;
			font-size: 18px;
			text-align: center;
			font-weight: bold;
			padding: 15px;

			@include respond(phone) {
				max-width: none;
				padding: 0;
				text-align: left;
				font-size: 16px;
				font-weight: 400;
			}
		}

		&__instructions {
			font-size: 20px;
			margin-top: 50px;
			padding: 15px 25px;
			border-radius: 10px;
			text-align: center;
			background-color: $color-dark-blue;
			color: $color-cream;

			@include respond(tablet-portrait) {
				display: none;
				font-size: 18px;
				padding: 10px 15px;
			}
		}

		&__balloons {
			position: absolute;
			height: 100%;
			width: 100%;
			overflow: hidden;

			img {
				height: 100px;
				display: block;
				position: absolute;

				@include respond(tablet-portrait) {
					height: 75px;
				}
			}

			&--1 {
				animation: moveX-1 10s linear 0s infinite alternate,
					moveY-1 12.6s linear 0s infinite alternate;
			}

			&--2 {
				animation: moveX-2 10s linear 0s infinite alternate,
					moveY-2 12.6s linear 0s infinite alternate;
			}
		}
	}
}
